* {
    margin: 0;
    padding: 0;
    font-family: 'Grenze Gotisch', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    height: 100vh;
}

.container h1 {
    color: rgb(247, 247, 247);
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: rgb(5, 4, 4);
}

.milliseconds {
    font-size: 0.7em; /* Tamanho menor para os milissegundos */
    vertical-align: super; /* Move os milissegundos para cima para alinhar com os números */
    color: rgb(133, 132, 132);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: rgb(233, 9, 9);
    color: #fff;
}

#pauseBtn,
#resumeBtn {
    display: none;
}
body {
    background-image: url("ampulheta.jpg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa no lugar */
}